/*Esto manejará el estilo de los botones*/

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    margin-top: 20px;
}

#buttons {
    margin-top: 50px;
}

button {
    width: 150px;
    height: 100px;
    margin: 10px;
    font-size: 18px;
    background-color: #4CAF50; /* Color inicial */
    color: white;
    border: none;
    cursor: pointer;
}
